# =====================================================
# Visual Studio
# =====================================================

.vs/
.vscode/

# Visual Studio user files
*.user
*.suo
*.userosscache
*.sln.docstates


# =====================================================
# .NET BUILD FILES
# =====================================================

bin/
obj/


# =====================================================
# AZURE PUBLISH PROFILES
# =====================================================

Properties/PublishProfiles/*.pubxml


# =====================================================
# REACT / NODE
# =====================================================

frontend/node_modules/
frontend/dist/


# =====================================================
# ENVIRONMENT FILES
# =====================================================

.env
.env.*


# =====================================================
# LOGS
# =====================================================

*.log